body {
    margin: 0 auto;
}


p {
    font-size: 0.8rem;
}

.header-navbar {
    display: flex;
    height: 50px;
}

.header-navbar img{
    flex: 1 1 0;
    min-width: 0;
}

.willkommen {
    border: 6px solid magenta;
    height: 50vh;
}



.paedagogen-und-verwaltung .dropdown-rows .row {
    background: #cbc3ff;
    margin: 0.5em auto;
    padding: 0.5em;
}

.staff-container {
    background: #faf9ff;
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;

}

.staff-container article {
    display: flex;
    margin: 1em;
    align-items: center;
    width: 45%;
}




